/*==========================================*
 
    Adding fonts
    - web fonts(online):rubik & karla
    - local font : Satisfy
 
*===========================================*/

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family:'Satisfy' ;
    src: url("fonts/Satisfy/Satisfy-Regular.ttf");
}
/*===============*
  
  Global styles

/*===============*/

html{
    font-size: 16px;
}
body{
    font-family: 'karla', sans-serif;
line-height: 1.5;
padding: 0;
margin: 0;
background-color: #f4f4f4;

}
#container{
    display: grid;
    grid-template-rows:  75px auto 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "hd hd hd"
    "cnt cnt cnt"
    "ft ft ft" ;
}
/*===============*
  
  Header styles

/*===============*/
header{
    grid-area: hd;
    background: radial-gradient(circle, rgba(116,60,37,1) 0%, rgba(116,60,37,1)35%, rgba(255,255,255,1) 100%);
    color: white;
    min-height: 1em; /*em vs rem ?*/
    border:  3px solid #006838;
}
#menu{
    display: flex;
    /*align-items is for the cross axis*/
    align-items:center;/*justify-content (main)*/
    margin: 0;
    margin: 0;
    list-style: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
#logo{

    font-family: 'Satisfy',cursive;
   /*@TODO : what does this mean - auto*/
    margin-right: auto;
}
#logo-image{
    padding-top: 10px;
    width: 50px;
}
h1{
    display: inline;
    font-weight: normal;
    font-size: 1.7rem ; 
}
a{
    display: block;
    background-color: #6a4a24;
    color: white;
    border-radius: .5em;
    padding-top: .5em;
    padding-bottom: 1em;
    margin: .5em;
    text-decoration: none;
}
a:hover{
    border-bottom: 3px solid black;
    color: #d4854d;

}
li.a{
    border-bottom: 3px solid rgb(76, 75, 75);
    color: #f5a871;
}
main{
    grid-area: cnt;
    margin-left: 50px;
    margin-right: 50px;
}
#showcase{
    margin-top: 10px;
    min-height: 400px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#boxes{
    display: flex;
    text-align: center;
}
.box{
    padding-top: 20px;
}
footer{
    grid-area: ft;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #743c25;
    text-align:center;
}